.month-title {
  text-align: center;
  font-weight: bold;
}

#nav-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-control button {
  background-color: #b40f1f2c;
}
